# Environment files
**/.env
**/.env.*
!**/.env.example

# Git
.git
.gitignore

# Docker
.dockerignore
Dockerfile*
docker-compose*

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Build artifacts
*.exe
*.dll
*.so
*.dylib
dist/
build/

doc/
*.md